# Unity
/Library
/Logs
/Recordings
/Temp
/UserSettings
/ProjectSettings/AndroidLogcatSettings.asset

# Visual Studio
/.vs
/*.csproj
/*.sln
/obj
/.vsconfig

# Visual Studio Code
/.vscode

# Rider
/.idea

# Build
/dist
